.framed {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    border: 1px solid var(--border-color);
    max-width: 800px;
}

#contact.content {
    align-items: inherit;
}

#contact.container {
    margin: 20px;
}

#apropos.content {
    align-items: inherit;
}

#apropos.container {
    margin: 20px;
}

section {
    padding: 0px 0;
    background-color: #252627c8;
    border-radius: 10px;
}

/* List */
.posts {
    max-width: 1000px;

}

/* Single */
.post {
    max-width: 1000px;
    background-color: #252627c8;
    border-radius: 10px;
    text-align: justify;
}

.menu {
    border-right: none;
}

.timeline-item {
    margin: 20px;
}

div.timeline-item a { 
    text-decoration: none;
}

/* Index text color */
div.index-content.framed {
    color: #3b3d42;
}

/* Index voir color */
a.read-more.button {
    color: #c3c3ce;
}

/* index footer */
div.footer__inner {
    color: #c3c3ce"
}
div.footer__content {
    color: #c3c3ce"
}
