.framed {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    border: 1px solid var(--border-color);
    max-width: 800px;
}

div.content {
    align-items: inherit;
}

section {
    padding: 0px 0;
}

/* List */
.posts {
    max-width: 1000px;
}

/* Single */
.post {
    max-width: 1000px;
}